[submodule "external/glfw"]
	path	= external/glfw
	url		= https://github.com/glfw/glfw.git
	ignore	= dirty

[submodule "external/glm"]
	path 	= external/glm
	url 	= https://github.com/g-truc/glm.git
	ignore	= dirty
	
[submodule "external/doxygen"]
	path 	= external/doxygen
	url 	= https://github.com/doxygen/doxygen.git
	ignore	= dirty
